{% extends 'admin/layout.html.twig' %}

{% block title %}Nouveau Themes{% endblock %}

{% block content %}
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <strong>Nouveau</strong> Fichier
            </div>
            <div class="card-body card-block">
                {{ include('admin/images/_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}

